# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
.venv/
.python-version
lms-system-env/

# Flask instance folder
instance/

# Database files
*.db
*.sqlite3

# Environment variables
.env
.env.*

# IDE/editor configs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Pytest cache
.pytest_cache/

